<div class="footer">
    <div>
        <ul>
            <li routerLink="home">Home</li>
            <li routerLink="my-work">My Work</li>
            <li routerLink="contact-me">Contact Me</li>
        </ul>
    </div>

    <div class="contact">
        <h1>Contact</h1>

        <div class="_personal_details"><i class="fas fa-phone"></i>
            <p class="_information">(+91) 7069798754</p>
        </div>

        <div class="_personal_details"><i class="fas fa-envelope"></i>
            <p class="_information">tripathipriyanshi681@gmail.com</p>
        </div>

        <div class="_personal_details"><i class="fas fa-home"></i>
            <p class="_information">Prabhakiran 2, Abrama, Valsad</p>
        </div>

        <div class="followMe">
            <h1>Follow me</h1>
            <p>Let us be social</p>

            <a href="https://www.linkedin.com/in/priyanshi-tripathi-991133206/">
                <i class="fab fa-linkedin fa-2x"></i>
            </a>

            <a href="https://www.behance.net/PriyanshiTripathi">
                <i class="fab fa-behance fa-2x"></i>
            </a>
            <a href="https://github.com/priyanshi101999">
                <i class="fab fa-github fa-2x" routerLink="https://github.com/priyanshi101999"></i></a>


        </div>


    </div>



</div>
<div class="heart">This Portfolio website is made with ❤️ by Priyanshi</div>