.my_work {
    text-align: center;
    box-sizing: content-box;
    background-color: white;
    padding: 40px 80px 120px 80px;

}

.my_work h1 {
    padding: 0;
    margin-top: 72px;
    background-color: white;
}

._tabs {
    text-align: center;
    border: none;
    margin-bottom: 40px;
}

.row {
    display: flex;
    gap: 15px;
    margin-top: 120px;
    flex-direction: row;
}

.work {
    height: auto;
margin-right: 28px;
}

.work img {
    width: 100%;
    height: 312px;
   border-radius: 12px;
    object-fit: cover;
    opacity: 1;

  
}

.work h4 {
    margin: 20px 0px 6px 0px;
    font-size: 24px;
}

.work p {
    margin: 0px 0px 80px 0px;
    font-size: 20px;
}

.work a {
    cursor: pointer;
}

.work img {
    cursor: pointer;
}

.button-container {
    margin-top: 64px;
}

.button-container button {

    border-radius: 4px;
    margin-right: 8px;
    line-height: 50px;
    border-radius: 5px;
    padding: 8px 40px;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    cursor: pointer;
    background-color: white;

}

.button-container button.active {
    cursor: pointer;
    background-color: #6291ff;
    color: #ffffff;
    border: 1px solid #9ab5f5;
}

@media (max-width: 767px){

    .my_work{
        padding: 40px 40px 120px 40px;
    }
    .button-container button{
        line-height: 32px;
        padding: 12px 40px;
        margin-bottom: 20px;
    }

    .row{
        flex-direction: column;
    }

    .work{
        height: auto;
        margin-bottom: 28px;
        margin-right: 0;
    }
}