<div class="contanct_me">
    <div>
        <h1>Contact Me</h1>
        <div style="margin-top: 32px;">


            <div class="_personal_details"><i class="fas fa-phone"></i>
                <p class="_inform">(+91) 7069798754</p>
            </div>

            <div class="_personal_details"><i class="fas fa-envelope "></i>
                <p class="_inform">tripathipriyanshi681@gmail.com</p>
            </div>

            <div class="_personal_details"><i class="fas fa-home"></i>
                <p class="_inform">Prabhakiran 2, Abrama, Valsad</p>
            </div>
        </div>
    </div>

    <div class="followMe">
        <h1>Follow me</h1>
        <p>Let us be social</p>

        <a href="https://www.linkedin.com/in/priyanshi-tripathi-991133206/">
            <i class="fab fa-linkedin fa-3x"></i>
        </a>

        <a href="https://www.behance.net/PriyanshiTripathi">
            <i class="fab fa-behance fa-3x"></i>
        </a>
        <a href="https://github.com/priyanshi101999">
            <i class="fab fa-github fa-3x" routerLink="https://github.com/priyanshi101999"></i></a>

    </div>
</div>